.panel_info_left {
  display: none;
}
.panel_info_right {
  display: none;
}
.Navbar {
  display: none;
}
.Desktoplogo {
  display: none;
}
.desktop_HomePage_panel {
  display: none;
}

.bg_Scarab_page {
  height: 100vh;
  width: 100%;
  background-image: url("/mobile/bg_yellow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  padding: 0 10px;
  display: flex;
  justify-content: center;
  font-family: "Skranji";
  z-index: -100;
}
.menu_icon {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
.header_icon_button {
  position: absolute;
  top: 10px;
  /* right: 10px; */
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 15%;
}
.header_logo {
  margin-left: 20%;
  font-size: 50px;
}
.header_button {
  border: 1px solid white;
  font-family: "skranji";
  font-size: 13px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100px;
  border-radius: 8px;
  color: #ffffff;
}
.stack_page_middle_panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stack_page_panel {
  background-image: url("/mobile/stack_page_panel.png");
  position: relative;
  height: 350px;
  /* width: 100%; */
  min-width: 300px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #845704;
}

.stack_page_panel_data {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 5px;
}
.stack_page_panel_heading {
  color: #d27812;
  font-size: 21px;
}
.panel_data_width {
  width: 75%;
}
.proposal_panel_data_input_align {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.stack_page_balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Skranji";
  color: #845704;
}

.stack_page_balance_align {
  display: flex;

  width: 100%;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
.stack_page_balance_align:nth-child(1) {
  margin-right: 20px;
}
.stack_page_mid_panel_footer {
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
}

.align_email_heading {
  width: 100%;
  text-align: center;
}
.input_tag {
  border: 1px solid #845704;
  background-color: #fff9f0;
  border-radius: 5px;
  height: 20px;
  width: 100%;
}
.btn {
  position: relative;
  background-image: url("/mobile/Button_small 1.png");
  height: 30px;
  width: 100px;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn p {
  position: absolute;
  top: 5px;
  color: #ffffff;
  font-size: 14px;
}
.stack_page_panel_data_mid {
  position: absolute;
  top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.input_tag {
  border: 1px solid #845704;
  background-color: #fff9f0;
  border-radius: 5px;
  height: 20px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 55px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.footer_png_container {
  width: 100%;

  display: flex;
  justify-content: center;
}
.footer_png {
  margin-left: 10px;
  margin-right: 15px;
  height: 35px;
  width: 35px;
}

.footer_button {
  position: absolute;
  font-family: "Skranji";
  bottom: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

@media screen and (min-width: 550px) {
  .stack_page_panel {
    background-image: url("/mobile/stack_page_panel.png");
    position: relative;
    height: 350px;
    /* width: 100%; */
    min-width: 400px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #845704;
  }
}

@media screen and (min-width: 852px) {
  .header_icon_button {
    display: none;
  }
  .bg_Scarab_page {
    height: 100vh;
    width: 100%;
    background-image: url("/mobile/Stack_page_desktop_view.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    padding: 0 10px;
    display: flex;
    justify-content: center;
    font-family: "Skranji";
    z-index: -100;
  }
  .menu_icon {
    display: none;
  }
  .logo {
    display: none;
  }
  .Navbar {
    position: absolute;
    top: 15px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar_left {
    display: flex;
    margin-left: 2%;
    align-items: center;
  }
  .navbar_left a {
    -webkit-text-stroke: 1.5px rgb(43, 9, 9);
    -webkit-text-fill-color: #d27812;
    font-weight: bold;
    font-size: 18px;
    margin-left: 1rem;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .navbar_right {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  .navbar_right a {
    -webkit-text-stroke: 1.5px rgb(43, 9, 9);
    -webkit-text-fill-color: white;
    font-weight: bold;
    margin-right: 5rem;
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  ._header_btn {
    width: 160px;

    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 10px;
    font-family: "Skranji", cursive;
    border: 0.4px solid #ffffff;
    -webkit-text-stroke: #ffffff;
  }
  ._header_btn_back {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 10px;
    font-family: "Skranji", cursive;
    border: 0.4px solid #ffffff;
    -webkit-text-stroke: #ffffff;
  }
  ._header_btn_back p {
    font-size: 18px;
    margin-left: 5px;
  }

  .Desktoplogo {
    display: block;
    height: 80px;
    width: 150px;
    position: absolute;
    top: 10px;
  }

  .desktop_statue_1 {
    background-image: url("/mobile/statue1 12.png");
    height: 300px;
    width: 150px;
    background-size: 100% 100%;
    position: absolute;
    bottom: 62px;
    left: 10%;
  }
  .desktop_statue_2 {
    background-image: url("/mobile/statue2 2.png");
    height: 300px;
    width: 150px;
    background-size: 100% 100%;
    position: absolute;
    bottom: 62px;
    right: 10%;
  }

  .stack_page_middle_panel {
    width: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stack_page_panel {
    background-image: url("/mobile/Abcd_mander_panel.png");
    position: relative;
    height: 300px;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #845704;
  }

  .stack_page_panel_data {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5px;
  }
  .stack_page_panel_heading {
    color: #d27812;
    font-size: 21px;
  }
  .panel_data_width {
    width: 75%;
  }
  .proposal_panel_data_input_align {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .stack_page_balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Skranji";
    color: #845704;
  }

  .stack_page_balance_align {
    display: flex;

    width: 100%;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
  .stack_page_balance_align:nth-child(1) {
    margin-right: 20px;
  }
  .stack_page_mid_panel_footer {
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
  }

  .align_email_heading {
    width: 100%;
    text-align: center;
  }
  .input_tag {
    border: 1px solid #845704;
    background-color: #fff9f0;
    border-radius: 5px;
    height: 20px;
    width: 100%;
  }
  .btn {
    position: relative;

    height: 30px;
    width: 100px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn p {
    position: absolute;
    top: 5px;
    color: #ffffff;
    font-size: 14px;
  }
  .stack_page_panel_data_mid {
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .input_tag {
    border: 1px solid #845704;
    background-color: #fff9f0;
    border-radius: 5px;
    height: 20px;
    width: 100%;
  }

  .footer_button {
    display: none;
  }
  .footer {
    display: flex;
    bottom: 30px;
  }
  .footer_png_container {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .navbar_left {
    display: flex;

    align-items: center;
  }
  .navbar_left a {
    -webkit-text-stroke: 1.5px rgb(43, 9, 9);
    -webkit-text-fill-color: #d27812;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2rem;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .navbar_right {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  .navbar_right a {
    -webkit-text-stroke: 1.5px rgb(43, 9, 9);
    -webkit-text-fill-color: white;
    font-weight: bold;
    margin-right: 6rem;
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  ._header_btn {
    width: 160px;

    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 10px;
    font-family: "Skranji", cursive;
    border: 0.4px solid #ffffff;
    -webkit-text-stroke: #ffffff;
  }

  .Desktoplogo {
    display: block;
    height: 80px;
    width: 150px;
    position: absolute;
    top: 10px;
  }

  .desktop_statue_1 {
    height: 300px;
    width: 150px;

    bottom: 62px;
    left: 15%;
  }
  .desktop_statue_2 {
    height: 300px;
    width: 150px;

    bottom: 62px;
    right: 15%;
  }
  .footer_button {
    display: none;
  }
  .footer {
    display: flex;
    bottom: 30px;
  }
  .footer_png_container {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .navbar_left {
    display: flex;
    margin-left: 5%;
    align-items: center;
  }
  .navbar_left a {
    -webkit-text-stroke: 1.5px rgb(43, 9, 9);
    -webkit-text-fill-color: #d27812;
    font-weight: bold;
    font-size: 20px;
    margin-left: 11rem;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .navbar_right {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
  .navbar_right a {
    -webkit-text-stroke: 1.5px rgb(43, 9, 9);
    -webkit-text-fill-color: white;
    font-weight: bold;
    margin-right: 16rem;
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .Desktoplogo {
    display: block;
    height: 90px;
    width: 180px;
    position: absolute;
    top: 10px;
  }

  .desktop_statue_1 {
    height: 300px;
    width: 150px;

    bottom: 10%;

    left: 15.5%;
  }
  .desktop_statue_2 {
    height: 300px;
    width: 140px;

    bottom: 73px;
    right: 16.5%;
  }

  .footer_button {
    display: none;
  }
  .footer {
    display: flex;
    bottom: 30px;
  }
  .footer_png_container {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}
