.Desktoplogo {
  display: none;
}

.bg_theme_wallet {
  height: 100vh;
  width: 100%;
  background-image: url("/mobile/bg_yellow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  padding: 0 10px;
  display: flex;
  justify-content: center;
  font-family: "Skranji";
  /* z-index: 50; */
}

.modal {
  height: 100vh;
  width: 100%;
  background-image: url("/mobile/Bg dimm.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  padding: 0 10px;
  display: flex;
  justify-content: center;
  font-family: "Skranji";
  /* z-index: 10; */
}

.menu_icon {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
.panel_wallet_container {
  position: absolute;

  top: 170px;
  background-image: url("/mobile/panel_check 1_wallet.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 95%;
  max-width: 400px;
  display: flex;
  justify-content: center;

  background-size: 100% 100%;
}
.wallet_none {
  display: none;
}

.wallet_heading {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #d27812;
  font-size: 18px;
  cursor: pointer;
}

.x_icon {
  position: absolute;
  top: 50px;
  right: 20px;

  cursor: pointer;
}
.wallet_group {
  position: absolute;
  top: 90px;
  display: flex;
  justify-content: space-between;
  width: 220px;
  color: #845704;
  font-size: 18px;
  cursor: pointer;
}
.wallet_group img {
  width: 60px;
  height: 50px;
}
.wallet_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wallet_text p {
  font-size: 13px;
  margin-top: 5px;
}

.wallet_bottom_group {
  position: absolute;
  top: 170px;
  display: flex;
  justify-content: center;
  width: 200px;
  color: #845704;
  font-size: 18px;
  cursor: pointer;
}
.wallet_bottom_group img {
  width: 50px;
  height: 50px;
}
.header_icon_button {
  position: absolute;
  top: 10px;

  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 15%;
}
.header_logo1 {
  margin-left: 20%;
  font-size: 50px;
}
.header_button {
  z-index: 100;
  border: 1px solid white;
  font-family: "skranji";
  font-size: 13px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100px;
  border-radius: 8px;
  color: #ffffff;
}
.header_button:hover {
  background-color: #d27812;
  color: white;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 55px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer_png_container {
  width: 100%;

  display: flex;
  justify-content: center;
}
.footer_png {
  margin-left: 10px;
  margin-right: 15px;
  height: 35px;
  width: 35px;
}

.footer_button {
  position: absolute;
  font-family: "Skranji";
  bottom: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

@media screen and (min-width: 852px) {
  .bg_theme_wallet {
    height: 100vh;
    width: 100%;
    background-image: url("/mobile/bg_yellow_stack_page.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    padding: 0 10px;
    display: flex;
    justify-content: center;
    font-family: "Skranji";
    /* z-index: 50; */
  }

  .modal {
    height: 100vh;
    width: 100%;
    background-image: url("/mobile/bg_yellow_dark_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    padding: 0 10px;
    display: flex;
    justify-content: center;
    font-family: "Skranji";
    /* z-index: 10; */
  }

  .menu_icon {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    cursor: pointer;
  }
  .panel_wallet_container {
    position: absolute;

    top: 170px;
    background-image: url("/mobile/panel_check 1_wallet.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 95%;
    max-width: 400px;
    display: flex;
    justify-content: center;

    background-size: 100% 100%;
  }
  .wallet_none {
    display: none;
  }

  .wallet_heading {
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #d27812;
    font-size: 18px;
    cursor: pointer;
  }

  .x_icon {
    position: absolute;
    top: 50px;
    right: 20px;

    cursor: pointer;
  }
  .wallet_group {
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: space-between;
    width: 220px;
    color: #845704;
    font-size: 18px;
    cursor: pointer;
  }
  .wallet_group img {
    width: 60px;
    height: 50px;
  }
  .wallet_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wallet_text p {
    font-size: 13px;
    margin-top: 5px;
  }

  .wallet_bottom_group {
    position: absolute;
    top: 170px;
    display: flex;
    justify-content: center;
    width: 200px;
    color: #845704;
    font-size: 18px;
    cursor: pointer;
  }
  .wallet_bottom_group img {
    width: 50px;
    height: 50px;
  }
  .header_icon_button {
    position: absolute;
    top: 10px;

    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 15%;
  }
  .header_logo {
    margin-left: 20%;
    font-size: 50px;
  }
  .header_button {
    z-index: 100;
    border: 1px solid white;
    font-family: "skranji";
    font-size: 13px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100px;
    border-radius: 8px;
    color: #ffffff;
  }
  .header_button:hover {
    background-color: #d27812;
    color: white;
    cursor: pointer;
  }
  .Desktoplogo {
    display: none;
    /* height: 80px;
    width: 150px;
    position: absolute;
    top: 10px; */
  }

  .desktop_statue_1 {
    background-image: url("/mobile/statue1 12.png");
    height: 300px;
    width: 150px;
    background-size: 100% 100%;
    position: absolute;
    bottom: 62px;
    left: 10%;
  }
  .desktop_statue_2 {
    background-image: url("/mobile/statue2 2.png");
    height: 300px;
    width: 150px;
    background-size: 100% 100%;
    position: absolute;
    bottom: 62px;
    right: 10%;
  }

  .footer {
    position: absolute;
    bottom: 55px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .footer_png_container {
    width: 100%;

    display: flex;
    justify-content: center;
  }
  .footer_png {
    margin-left: 10px;
    margin-right: 15px;
    height: 35px;
    width: 35px;
  }

  .footer_button {
    position: absolute;
    font-family: "Skranji";
    bottom: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .desktop_statue_1 {
    height: 300px;
    width: 150px;

    bottom: 62px;
    left: 15%;
  }
  .desktop_statue_2 {
    height: 300px;
    width: 150px;

    bottom: 62px;
    right: 15%;
  }
  .footer_button {
    display: none;
  }
  .footer {
    display: flex;
    bottom: 30px;
  }
  .footer_png_container {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .desktop_statue_1 {
    height: 300px;
    width: 150px;

    bottom: 10%;

    left: 15.5%;
  }
  .desktop_statue_2 {
    height: 300px;
    width: 140px;

    bottom: 73px;
    right: 16.5%;
  }

  .footer_button {
    display: none;
  }
  .footer {
    display: flex;
    bottom: 30px;
  }
  .footer_png_container {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}
